[Desktop Entry]
Version={{version}}
Type=Application
Encoding=UTF-8
Name={{productName}}
Comment={{description}}
Exec=/opt/{{productName}}/{{productName}}
Icon=/opt/{{productName}}/icon.png
Terminal=false
Categories=Utility;
